<!DOCTYPE html>
<html lang="en" ng-app="pokemon">
<head>
	<meta charset="UTF-8">
	<title>Pokemon Application</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.3/ui-grid.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.3/ui-grid.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div ng-controller="pokemonController as pokemonCtrl">
		<!-- <input ng-model="pokemonCtrl.searchText" ng-change="pokemonCtrl.refresh()" placeholder="Search..."> -->
		<div ui-grid="pokemonCtrl.gridOptions" style="height: 1000px;"></div>
	</div>

	<script type="text/ng-template" id="image">
		<img src="images/img/{{row.entity.id}}{{row.entity.ename}}.png" 
			class="img-responsive main-pokemon-img"
			 ng-click="grid.appScope.pokemonCtrl.expand(row.entity)">
		<div>
			<span ng-click="grid.appScope.pokemonCtrl.expand(row.entity)" ng-if="row.entity.showDetails === false">Show Details</span>
			<span ng-click="grid.appScope.pokemonCtrl.expand(row.entity)" ng-if="row.entity.showDetails === true">Hide Details</span>
		</div>
		<div ng-show="row.entity.showDetails" class="details">
			<div class="name-icon">
				<h4>{{row.entity.ename}}</h4>
				<img src="images/img/{{row.entity.id}}{{row.entity.ename}}.png" class="img-responsive">
				<img src="images/spr/{{row.entity.id}}MS.png" class="img-responsive">
			</div>
			<div class="types">
				Types: <br />
				<span ng-repeat="type in row.entity.type">{{type}}</span>
			</div>
			<div class="misc">
				<h6>Attack:</h6> {{row.entity.base.Attack}}<br /> 
				<h6>Defense:</h6> {{row.entity.base.Defense}}<br />
				<h6>HP:</h6> {{row.entity.base.HP}}<br />
				<h6>SP.Atk:</h6> {{row.entity.base['Sp.Atk']}}<br />
				<h6>SP.Def:</h6> {{row.entity.base['Sp.Def']}}<br />
				<h6>Speed:</h6> {{row.entity.base.Speed}}
			</div>
		</div>
	</script>
</body>
</html>