.ui-grid-viewport .ui-grid-cell-contents {
	word-wrap: break-word;
	white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
	height: auto !important;
	text-align: center;
}

.ui-grid-row div[role=row] {
	display: flex ;
	align-content: stretch;
}

.details {
	img {
		width: 15%;
		display: inline-block;
	}

	h6 {
		display: inline;
	}
}

.main-pokemon-img {
	width: 50%;
	height: 50%;
	display: inline!important;
	margin-bottom: 15px;
}